/*
  font-family: 'Audiowide', cursive;
  font-family: 'Black Ops One', cursive;


  TABLE OF CONTENTS

  # General Format
  # Modals
  # Gameboard
  # Action States
*/

/* ################## GENERAL FORMAT ################## */

* {
  font-family: "Audiowide", cursive;
}

h1 {
  font-family: "Black Ops One", cursive;
}

body {
  background-image: url("./images/motion-dave-chenell-04.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 50px;
  padding-top: 5px;

  height: 100vh;
}

hr {
  width: 95%;
  max-width: 600px;
  border-color: rgba(87, 87, 87, 0.716);
  box-shadow: 0 0 10px 2px rgb(255, 255, 255);
  border-radius: 10px;
}

.main__wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;

  transition: opacity 1s;
}

/* ################## MODALS ################## */
#menu__modal {
  background: rgba(255, 255, 255, 0.741);
  z-index: 20;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
  height: 60vw;
  max-height: 400px;
  width: 80vw;
  max-width: 600px;
  border-radius: 15px;

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.538);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  transition: opacity 1s;
}

#menu__modal::backdrop {
  background-color: black;
  z-index: 19;
}

#new-game {
  height: 40px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#placement__modal {
  height: clamp(280px, 43%, 430px);
  width: clamp(280px, 85%, 480px);
  border-radius: 10px;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 0.727);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 0 5px 2px rgba(66, 66, 66, 0.617);
  z-index: 100;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transition: opacity 1s;
}

#placement__modal > p {
  text-align: center;
}

.ships__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ships__row {
  display: flex;
  justify-content: space-around;
}

.ship {
  transition: transform 0.4s;
  cursor: pointer;
}

@media (hover: hover) {
  .ship:hover {
    transform: scale(1.1);
  }
}

.ship--patrol {
  margin-top: -5px;
}

.options__container {
  display: flex;
  justify-content: space-around;
}

#spin-ship {
  border: solid 1px black;
  border-radius: 50%;
  background-color: white;
  height: 58px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s;
}

#select-ship {
  border: solid 1px black;
  background-color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s;
}

@media (hover: hover) {
  #select-ship:hover,
  #spin-ship:hover {
    transform: scale(1.1);
  }
}

.begin__container {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

#begin-game {
  height: 50px;
  width: 125px;
  cursor: pointer;
}

/* ################## GAMEBOARD ################## */

.gameboard {
  height: clamp(300px, 48%, 450px);
  width: clamp(300px, 90%, 500px);
  background-color: rgba(240, 240, 240, 0.456);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px 2px rgba(42, 42, 42, 0.488);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.row {
  height: 10%;
  display: flex;
}

.square {
  width: 10%;
  border: solid 1px rgba(99, 99, 99, 0.35);
  cursor: pointer;

  transition: background-color 0.5s;
}

@media (hover: hover) {
  .square:hover {
    background-color: rgba(157, 217, 237, 0.526);
  }
}

/* ################# ACTION STATES ###################### */
.square--hit {
  background-color: #ff4141c6 !important;
  border-width: 2px;
}

.square--miss {
  background-color: rgba(164, 164, 164, 0.67) !important;
  border-style: inset;
  border-width: 2px;
}

.reveal--opacity {
  opacity: 1 !important;
}

.hidden--opacity {
  opacity: 0;
}

.hidden--z {
  z-index: -10 !important;
}

.ship--selected {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px rgb(255, 69, 69));
}

.ship--placed {
  transform: scale(0.8);
  filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

.square--potential {
  background-color: rgba(128, 128, 128, 0.64);
}

.square--carrier {
  background-color: rgba(17, 153, 17, 0.547);
  border-style: outset;
  border-width: 2px;
}

.square--battleship {
  background-color: rgba(17, 153, 133, 0.547);
  border-style: outset;
  border-width: 2px;
}

.square--destroyer {
  background-color: rgba(17, 103, 153, 0.547);
  border-style: outset;
  border-width: 2px;
}

.square--submarine {
  background-color: rgba(60, 17, 153, 0.547);
  border-style: outset;
  border-width: 2px;
}

.square--patrol {
  background-color: rgba(112, 153, 17, 0.547);
  border-style: outset;
  border-width: 2px;
}

.animate-guess {
  animation-name: guess-animation;
  animation-duration: 1s;
}

@keyframes guess-animation {
  0% {
    transform: scale(1);
  }
  12.5% {
    transform: scale(1.2);
    filter: brightness(200%);
  }
  25% {
    transform: scale(1);
    filter: brightness(100%);
  }
  37.5% {
    transform: scale(1.2);
    filter: brightness(200%);
  }
  50% {
    transform: scale(1);
    filter: brightness(100%);
  }
  62.5% {
    transform: scale(1.2);
    filter: brightness(200%);
  }
  75% {
    transform: scale(1);
    filter: brightness(100%);
  }
  87.5% {
    transform: scale(1.2);
    filter: brightness(200%);
  }
  99% {
    transform: scale(1);
    filter: brightness(100%);
  }
}
