body {
  background-image: url("./images/motion-dave-chenell-04.gif");
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

.main__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 1;

  transition: opacity 1s;
}

hr {
  width: 95%;
  border-color: rgba(87, 87, 87, 0.716);
  box-shadow: 0 0 10px 2px rgba(2, 12, 62, 0.447);
  border-radius: 10px;
}

.gameboard {
  height: clamp(300px, 48%, 450px);
  width: clamp(300px, 90%, 500px);
  background-color: rgba(240, 240, 240, 0.456);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px 2px rgba(42, 42, 42, 0.488);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.row {
  height: 10%;
  display: flex;
}

.square {
  width: 10%;
  border: solid 1px rgba(99, 99, 99, 0.35);
  cursor: pointer;

  transition: background-color 0.5s;
}

@media (hover: hover) {
  .square:hover {
    background-color: rgba(157, 217, 237, 0.526);
  }
}

/* ACTION STATES */
.square--hit {
  background-color: #ff4141c6 !important;
  border-width: 2px;
}

.square--miss {
  background-color: rgba(164, 164, 164, 0.67) !important;
  border-style: inset;
  border-width: 2px;
}

.hidden--opacity {
  opacity: 0;
}

.square--carrier {
  background-color: rgba(17, 153, 17, 0.547);
  border-style: outset;
  border-width: 2px;
}

.square--battleship {
  background-color: rgba(17, 153, 133, 0.547);
  border-style: outset;
  border-width: 2px;
}

.square--destroyer {
  background-color: rgba(17, 103, 153, 0.547);
  border-style: outset;
  border-width: 2px;
}

.square--submarine {
  background-color: rgba(60, 17, 153, 0.547);
  border-style: outset;
  border-width: 2px;
}

.square--patrol {
  background-color: rgba(112, 153, 17, 0.547);
  border-style: outset;
  border-width: 2px;
}

@keyframes guess-animation {
  0% {
    transform: scale(1);
  }
  12.5% {
    transform: scale(1.2);
    filter: brightness(200%);
  }
  25% {
    transform: scale(1);
    filter: brightness(100%);
  }
  37.5% {
    transform: scale(1.2);
    filter: brightness(200%);
  }
  50% {
    transform: scale(1);
    filter: brightness(100%);
  }
  62.5% {
    transform: scale(1.2);
    filter: brightness(200%);
  }
  75% {
    transform: scale(1);
    filter: brightness(100%);
  }
  87.5% {
    transform: scale(1.2);
    filter: brightness(200%);
  }
  99% {
    transform: scale(1);
    filter: brightness(100%);
  }
}

.animate-guess {
  animation-name: guess-animation;
  animation-duration: 2s;
}
